<form id="search-form">   
    <div class="ui form">
        <div class="inline field">
            <div class="ui centered nine column stackable grid container">
                <div class="three wide column">
                    <div class="ui fluid selection dropdown search">
                        <input type="hidden" name="origin">
                        <i class="dropdown icon"></i>
                        <div class="default text">Origin</div>
                        <div class="menu">
                            <% @airports.each do |a| %>
                                <div class="item" data-value="<%= a.location %>"><%= a.location %></div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <div class="ui fluid selection dropdown search">
                        <input type="hidden" name="destination">
                        <i class="dropdown icon"></i>
                        <div class="default text">Destination</div>
                        <div class="menu">
                            <div class="item">All</div>
                            <% @airports.each do |a| %>
                                <div class="item" data-value="<%= a.location %>"><%= a.location %></div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <div class="ui fluid buttons">
                        <button type="submit" class="ui primary button" id="search-submit">Submit</button>
                        <button type="button" class="ui blue basic button" id="clear-search">Clear</button>
                    </div>
                </div>
                <script>
                    $("#search-submit").click(function() {
                        $("#search-form").append("<input type='hidden' name='search' value='t'>");
                    });
                    $("#clear-search").click(function() {
                        $("#main-link").click();
                    });
                </script>
            </div>
        </div>
    </div>
</form>
<% if !flash.empty? %>
    <div class="ui centered grid go-behind container">
        <div class="nine wide column">
            <% flash.each do |key, value| %>
                <div class="ui floating error message">
                    <div class="header"><%= value %></div>
                </div>
            <% end %>
        </div>
    </div>
<% end %>
<div class="ui centered stackable grid go-behind container">
    <div class="nine wide column">
        <div class="ui items">
            <% @flights.each do |f| %>
                <div class="item">
                    <div class="ui small image">
                        <img src="http://i.imgur.com/JeQYolM.jpg">
                    </div>
                    <div class="content">
                        <a class="header"><%= f.origin.location + " to " + f.destination.location %></a>
                        <div class="meta">
                            <span>Departing</span>
                        </div>
                        <div class="description">
                            <p><%= f.departing.strftime("%A %d %B at %I:%M %p") %></p>
                        </div>
                        <div class="extra">
                            <p><%= f.seats.to_s + " seats left" %></p>
                            <button type="button" class="ui orange fluid button">
                                Book this flight
                                <i class="right chevron icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <script>
            $(".items>.item:first").attr("id", "first-item");
        </script>
    </div>
</div>