<!DOCTYPE html>
<html>
    <head>
        <title>flyAway</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <div class="ui fixed menu">
            <div class="header item">
                <%= link_to root_path do %>
                    <i class="plane icon" id="plane-icon"></i>
                    <span id="main-link">flyAway</span>
                <% end %>
            </div>
        </div>
        <%= yield %>
        <script>
            $(document).ready(function() {
                $(".dropdown").dropdown();
            });
        </script>
    </body>
</html>
